In [250]:
import pandas as pd
import numpy as np
import spacy
import string
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
from sklearn.metrics import accuracy_score
from sklearn.naive_bayes import MultinomialNB
from sklearn.base import TransformerMixin 
from sklearn.pipeline import Pipeline
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
parser = English()
nlp = spacy.load('en')

In [251]:
#WE HAVE USED [encoding = "ISO-8859-1"] TO AVOID UnicodeDecodeError: 'utf-8' codec can't decode bytes in position 135-136: invalid continuation byte

data = pd.read_csv('C:/Users/Lenovo/Desktop/IPY/Data/Data/spam.csv', encoding = 'latin-1')

In [252]:
data.head(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [253]:
data = data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

In [254]:
data.columns = ['STATUS','MESSAGE']

## SPAM = 0 | HAM = 1

In [255]:
data = data.replace({'STATUS':{'spam':0,'ham':1}})

In [256]:
data.head(5)

   STATUS                                            MESSAGE
0       1  Go until jurong point, crazy.. Available only ...
1       1                      Ok lar... Joking wif u oni...
2       0  Free entry in 2 a wkly comp to win FA Cup fina...
3       1  U dun say so early hor... U c already then say...
4       1  Nah I don't think he goes to usf, he lives aro...

In [257]:
#COUNT OF SPAM ENTERIES
len(data[data['STATUS'] == 0])

747

In [258]:
#COUNT OF HAM ENTERIES
len(data[data['STATUS'] == 1])

4825

In [259]:
x_train, x_test, y_train, y_test = train_test_split(data["MESSAGE"], data["STATUS"], test_size=0.2, random_state=4)

In [260]:
count = CountVectorizer()

In [261]:
x_trainCount=count.fit_transform(x_train)

In [262]:
x_testCount=count.transform(x_test)

In [263]:
mnb = MultinomialNB()

In [264]:
y_train=y_train.astype('int')

In [265]:
mnb.fit(x_trainCount,y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [266]:
testmessage=x_test.iloc[0]

In [267]:
predictions=mnb.predict(x_testCount)

In [268]:
count=0

In [269]:
for i in range (len(predictions)):
    if predictions[i]==a[i]:
        count=count+1

In [270]:
count

1095

In [271]:
len(predictions)

1115

In [272]:
count/len(predictions)

0.9820627802690582

In [ ]:
https://github.com/shreyans29/thesemicolon/blob/master/Text%20Analytics%20CV.ipynb