In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# Load our dataset - THIS IS .TXT NOT .CSV
df_yelp = pd.read_table('C:/Users/rvaish/Downloads/NLP-Spacy-SentimentAnalysis/NLP-Spacy-SentimentAnalysis/TextClassificationSentiment Analysis/yelp_labelled.txt')
df_imdb = pd.read_table('C:/Users/rvaish/Downloads/NLP-Spacy-SentimentAnalysis/NLP-Spacy-SentimentAnalysis/TextClassificationSentiment Analysis/imdb_labelled.txt')
df_amz = pd.read_table('C:/Users/rvaish/Downloads/NLP-Spacy-SentimentAnalysis/NLP-Spacy-SentimentAnalysis/TextClassificationSentiment Analysis/amazon_cells_labelled.txt')

In [3]:
df_yelp.head(5)

                            Wow... Loved this place.  1
0                                 Crust is not good.  0
1          Not tasty and the texture was just nasty.  0
2  Stopped by during the late May bank holiday of...  1
3  The selection on the menu was great and so wer...  1
4     Now I am getting angry and I want my damn pho.  0

In [4]:
df_imdb.head(5)

,"A very, very, very slow-moving, aimless movie about a distressed, drifting young man.",0
0,Not sure who was more lost - the flat characte...,0
1,Attempting artiness with black & white and cle...,0
2,Very little music or anything to speak of.,0
3,The best scene in the movie was when Gerardo i...,1
4,"The rest of the movie lacks art, charm, meanin...",0

In [5]:
df_amz.head(5)

,So there is no way for me to plug it in here in the US unless I go by a converter.,0
0,"Good case, Excellent value.",1
1,Great for the jawbone.,1
2,Tied to charger for conversations lasting more...,0
3,The mic is great.,1
4,I have to jiggle the plug to get it to line up...,0

In [6]:
print(len(df_yelp))
print(len(df_imdb))
print(len(df_amz))

999
999
999

In [8]:
# Concatenate our Datasets
frames = [df_yelp, df_imdb,df_amz]

In [9]:
print(len(frames))

3

In [10]:
# Renaming Column Headers
for colname in frames:
    colname.columns = ["Message","Target"]

In [11]:
# Assign a Key to Make it Easier
keys = ['Yelp','IMDB','Amazon']

In [12]:
# Merge or Concat our Datasets
df = pd.concat(frames,keys=keys)

In [13]:
# Length and Shape 
df.shape

(2997, 2)

In [14]:
df.head()

                                                  Message  Target
Yelp 0                                 Crust is not good.       0
     1          Not tasty and the texture was just nasty.       0
     2  Stopped by during the late May bank holiday of...       1
     3  The selection on the menu was great and so wer...       1
     4     Now I am getting angry and I want my damn pho.       0

In [15]:
df.to_csv("C:/Users/rvaish/Downloads/NLP-Spacy-SentimentAnalysis/NLP-Spacy-SentimentAnalysis/TextClassificationSentiment Analysis/SentimentDataSetCSV.csv")